.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.left-side {
  background: rgb(17, 39, 70);
  background: -moz-linear-gradient(
    180deg,
    rgba(17, 39, 70, 1) 0%,
    rgba(3, 8, 16, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(17, 39, 70, 1) 0%,
    rgba(3, 8, 16, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(17, 39, 70, 1) 0%,
    rgba(3, 8, 16, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112746",endColorstr="#030810",GradientType=1);
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
